<div class="course-container" [courseHighlight]="course.addingDate">
  <div class="info-block">
    <div class="top-bar">
      <strong class="title">{{ course.title }}</strong>
      <strong class="course-id">{{ course.id }}</strong>
      <span class="duration">
        {{ formattedDuration }}
        <i class="fa" [ngClass]="{'fa-star' : course.topRated, 'fa-star-o': !course.topRated}" aria-hidden="true"></i>
      </span>
      <span class="date">{{ course.addingDate | date: 'mediumDate' }}</span>
    </div>
    <p class="description">{{ course.description }}</p>
  </div>
  <div class="control-block">
    <button class="edit" (click)="editCourse($event)">Edit course</button>
    <button class="delete"
            mwlConfirmationPopover
            [title]="'title'"
            [message]="'message'"
            placement="left"
            (confirm)="rmCourse()">
      Delete
    </button>
  </div>
</div>
